{
  "env": {
    "test": {
      "presets": ["env", "stage-2", "react"]
    }
  },
  "presets": ["module:metro-react-native-babel-preset", "module:react-native-dotenv"],
  "plugins": [
    "@babel/plugin-syntax-optional-chaining",
    [
      "module-resolver",
      {
        "root": ["./artifacts"],
        "cwd": "babelrc"
      }
    ]
  ]
}
