{
  "env": {
    "test": {
      "presets": ["env", "stage-2", "react"]
    }
  },
  "presets": ["react-native", "react-native-dotenv"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./artifacts"],
        "cwd": "babelrc"
      }
    ]
  ]
}
