<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964006513680-8lv66en1rph1tem81823kapi7pp6f01e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964006513680-8lv66en1rph1tem81823kapi7pp6f01e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>964006513680-846q8u30jdam8f0i79rv05g0pjc08mp4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6aiYDbp88gaE5BIJCVOIiyM58d1nWQTU</string>
	<key>GCM_SENDER_ID</key>
	<string>964006513680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suryolingo.iphone</string>
	<key>PROJECT_ID</key>
	<string>suryolingo-ltd</string>
	<key>STORAGE_BUCKET</key>
	<string>suryolingo-ltd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964006513680:ios:4309c91f70c0c7db</string>
	<key>DATABASE_URL</key>
	<string>https://suryolingo-ltd.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8869715274661120~8496603516</string>
</dict>
</plist>